<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="overlay">
      <%= form_for @collection do |f| %>
      <fieldset>
        <div class="form-group">
          <%= f.label :location %>
          <%= f.text_field :location, class: "form-control" %>
        </div>
          <%=link_to collections_path do%>
          <span class="glyphicon glyphicon-remove"></span>
           Cancel
           <% end %>
        <div class="form-group pull-right">
          <%= f.submit class: "btn btn-success", placeholder: "Create Location"%>
        </div>
      </fieldset>
      <% end %>
    </div>
  </div>
</div>
