

<h2><u>Locations:</u></h2>

<% g=0%>

<%for @collection in @collections%>

<div><h3>Collection: <%=g +=1%></h3><br>
  <strong><%= @user.name%> @<%= @collection.location%>: (ID: <%=@collection.id %>)</strong><br><br>
  <!-- Collection ID: <br> -->
  Your items in this collection: <br>
  <%d=0%>
  <%for @item in @items%>
    <%if @collection.id == @item.collection_id%>
    <%d +=1%>
    <%=image_tag @item.picture.thumbnail%> 
    <%=@item.color%> <%=@item.clothing_type%><br>
    <%end%>
  <%end%>
  <%if d==0%>
    <strong>This collection is empty!</strong>
  <%elsif d==1%>
    <strong><br>You have <%=d%> item in this collection.</strong>
    <%x=d%>
  <%else%>
    <strong><br>You have <%=d%> items in this collection.</strong>
  <%end%>    
<%end%>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @item, :html => {:multipart => true} do |f| %>
      <fieldset>
        <legend>Collections</legend>
        <div class="form-group">
          <%= f.label :collection %>
          <%= f.select(:collection_id,
            options_from_collection_for_select(
              @collections, 'id', 'location'
            ), {}, class: "form-control") %>
        </div>
        <div class="form-group">
          <%= f.label :clothing_type %>
          <%= f.text_field :clothing_type, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :color %>
          <%= f.text_field :color, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :picture %>
          <%= f.file_field :picture, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-warning" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
