<div class="row">
  <div class="col-lg-4 col-lg-offset-4">

  <%= button_to "New User ??", new_user_path, method: :get, class: "btn btn-primary", id: "newuser-button"  %>
    <%= form_for :user, url: login_url, html: { role: "form", id: "loginform" } do |f| %>
      <div class="row">
        <div class="col-lg-8">
          <fieldset>
            <legend>Please sign in</legend>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control", placeholder: "Enter your email address", autofocus: true, required: true %>
            </div>
            <div class="form-group">
              <%= f.label :password, id: 'password-label' %>
              <%= f.password_field :password, class: "form-control", placeholder: "Enter your password", required: true %>
            </div>
            <div class="form-group">
              <%= f.submit "Sign in", class: "btn btn-success", id: 'submit-button' %>
            </div>
          </fieldset>
        </div>
      </div>
    <% end %>
  </div>
</div>