
<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <div class="overlay">
      <%= form_for :user, url: users_path, method: :post, html: { role: "form", id: "newuser" } do |f| %>
      <div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>JOIN C L O S I F Y  TODAY ! !</legend>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control", placeholder: "Enter your first name", autofocus: true, required: true %>
            </div>
            <div class="form-group">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: "form-control", placeholder: "Enter your last name", autofocus: true, required: true %>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control", placeholder: "Enter your email address", autofocus: true, required: true %>
            </div>
            <div class="form-group">
              <%= f.label :password, id: 'password-label' %>
              <%= f.password_field :password, class: "form-control", placeholder: "Create your password", required: true %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, id: 'password-label' %>
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter your password again", required: true %>
            </div>
            <div class="form-group">
              <%= f.submit "Join CLOSIFY", class: "btn btn-success", id: 'submit-button' %>
            </div>
          </fieldset>
          <aside class="newuser-note">NOTE: As a new user, you may be requested to enter your email and password to login after this screen. </aside> 
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

