
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div> 
      <div class='greeting'>Hello, <%=@current_user.name%>
      </div>
      <div class='date'>
        Today is: <br>
        <%=raw Time.now.strftime("<i>%A, %B %d</i> <strong>(%d/%m/%Y)</strong> %k:%M:%S" ) %><br>
      </div>

      <div class='link'>
        <%= link_to "Edit Profile", edit_user_path %>
      </div>
      <div class='link'>
        <%= link_to "View Collections", collections_path %> |
        <%= link_to "Add Collection", new_collection_path %>
      </div>
      <div class='link'>
        <%if @collections.length > 0 %>
        <%= link_to "View Items", items_path %> |
        <%= link_to "Add Item", new_item_path %>
        <% end %>
      </div>
      <div class='link'>  <%= link_to "Logout", logout_path %>
      </div>
    </div>
  </div>
</div>