
      <%= form_for @item, :html => {:multipart => true} do |f| %>
      <fieldset>
        <div class="form-group">
          <div class="checkbox pull-right">
            <label for="item_favorite">
              <%= f.check_box :favorite %> Favorite
            </label>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :collection %>
          <%= f.select(:collection_id,
            options_from_collection_for_select(
              current_user.collections, 'id', 'location'
              ), {}, class: "form-control") %>
            </div>
            <div class="form-group">
              <%= f.label :picture %>
              <%= f.file_field :picture, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label "Type of Clothing" %>
              <%= f.text_field :clothing_type, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :color %>
              <%= f.text_field :color, class: "form-control" %>
            </div>
            <div class="form-group" >
              <fieldset>
                <%= f.label :tags %>
                <%= f.fields_for :tags do |builder| %>
                <%= render "tag_fields", f: builder %>
                <% end %>
                <div class="links">    
                  <%= link_to_add_association '<i class="glyphicon glyphicon-plus-sign"></i>'.html_safe, f, :tags %>
                </div>
              </fieldset>
            </div>
              <%=link_to items_path do%>
              <span class="glyphicon glyphicon-remove-circle"></span>
               Cancel
               <% end %>
            <div class="form-group pull-right" >
              <%= f.submit class: "btn btn-success" %>
            </div>
          </fieldset>
          <% end %>
