<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @item, :html => {:multipart => true} do |f| %>
      <fieldset>
        <legend>Collections</legend>
        <div class="form-group">
          <%= f.label :collection %>
          <%= f.select(:collection_id,
            options_from_collection_for_select(
              @collections, 'id', 'location'
            ), {}, class: "form-control") %>
        </div>
        <div class="form-group">
          <%= f.label :clothing_type %>
          <%= f.text_field :clothing_type, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :color %>
          <%= f.text_field :color, class: "form-control" %>
        </div>
        <div class="form-group">
         <%= fields_for @tag, @tag.other do |t| %>
         <%= t.label :other %>
         <%= t.text_field :other, class: "form-control" %>
         <%end%>
        </div>
        <div class="form-group">
          <%= f.label :picture %>
          <%= f.file_field :picture, class: "form-control" %>
        </div>

<!-- Experimental File Upload Widget -->
            <div class="form-group">
             <div class="fileinput fileinput-new" data-provides="fileinput">
              <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                <img data-src="holder.js/100%x100%" alt="Image preview">
              </div>
              <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
              <div>
                <span class="btn btn-default btn-file">
                <span class="fileinput-new">Select image</span>
                <span class="fileinput-exists">Change</span>
                <input class ="form-control" id="item_picture" name="item[picture]" type="file"></span>
                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
              </div>
            </div>
            <div class="form-group">

          <%= f.submit class: "btn btn-warning" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>






<script src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
var fileinput = $('.fileinput').fileinput();
fileinput.on('change.bs.fileinput', function(e, files){
    console.log('change me!');
})
</script>