<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @item, :html => {:multipart => true} do |f| %>
      <fieldset>
        <legend>Collections</legend>
        <div class="form-group">
          <%= f.label :collection %>
          <%= f.select(:collection_id,
            options_from_collection_for_select(
              current_user.collections, 'id', 'location'
            ), {}, class: "form-control") %>
        </div>
        <div class="form-group">
          <%= f.label :clothing_type %>
          <%= f.text_field :clothing_type, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :color %>
          <%= f.text_field :color, class: "form-control" %>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label for="item_favorite">
              <%= f.check_box :favorite %> Favorite?
            </label>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :picture %>
          <%= f.file_field :picture, class: "form-control" %>
        </div>

        <fieldset>
          <legend>Tags</legend>
          <%= f.fields_for :tags do |builder| %>
            <%= render "tag_fields", f: builder %>

          <% end %>
          <div class="links">
            <%= link_to_add_association "add tag", f, :tags %>
          </div>
            
        </fieldset>
        <div class="form-group">
          <%= f.submit class: "btn btn-warning" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
