<div class="col-sm-8 col-md-8 col-md-offset-3 col-md-offset-3 main">

      <div class="filter">
          <a href="javascript:void(0)" class="button js-filter">Filter Slides</a><br>
          <a href="javascript:void(0)" class="button js-add-slide">Add Slides</a><br>
          <a href="javascript:void(0)" class="button js-remove-slide">Remove Slides</a><br>
          <a href="javascript:void(0)" class="button js-pause">AutoPlay Slides</a><br>

        </div>
      <div class="col-sm-9 col-md-10 main">
    <%= link_to "Site", root_url %> |  
    <%= link_to "Collections", collections_path%>

        <div class="slider filtering1">        <!-- First Carousel -->

          <% c=0%>
          <% for item in @items%>
          <div><%c +=1%><br>
          <center>
          <%= item.color %>
          <%= item.clothing_type %>
          <%= link_to(image_tag(item.picture.carousel), item_path(item))%>
          </center>
          </h5></div>
          <%end%>

          <div><img style="vertical-align: bottom;" src="/images/fixture-image6.svg"></h6></div>
          <div><br><br><br><br><center><%= link_to "new", newitem_path %></center> </div>
        </div>
    
        <div class="slider filtering2">        <!-- Second Carousel -->
          <div><h><center><img style="vertical-align: top;" src="/images/fixture-image7_2.jpg" ></center>1</h6></div>
          <div><h><img src="/images/fixture-image7_2.jpg" >2</h6></div>
          <div><h><img src="/images/fixture-image7_2.jpg" >3</h6></div>
          <div><h><img src="/images/fixture-image7_2.jpg" >4</h6></div>
        </div>  
      
        <div class="filter">
          <!-- <a href="javascript:void(0)" class="button js-filter">Filter Slides</a> -->
        </div> 
      </div>
</div>


<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>




<script type="text/javascript">
   
  $(document).ready(function(){
    $('.filtering1').slick({
      arrows: true,
      autoplay: false,
      autoplaySpeed: '2000',
      pauseOnHover: true,
      centerMode: false,
      centerPadding: '0px',
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: false
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      ]
    });

    $('.filtering2').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      arrows: true,
      responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: false
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      ]
    });





  var slideIndex = 1;
$('.js-add-slide').on('click', function(){
  slideIndex++;
  $('.filtering1').slickAdd('<div><h3>'+slideIndex+'</h3></div>');
});

$('.js-remove-slide').on('click', function(){
  $('.filtering1').slickRemove(slideIndex - 1);
  if (slideIndex !== 0) {
    slideIndex--;
  }
});


  var pause = true;

$('.js-pause').on('click', function(){
  if(pause === false) {
    $('.filtering1').slickPause();
    $(this).text('Play');
    pause = true;
  } else {
    $('.filtering1').slickPlay();
    $(this).text('Pause');
    pause = false;
  }
});

});


</script>




<script type="text/javascript">

    var filtered = false;

    $('.js-filter').on('click', function(){
      if(filtered === false) {
        $('.filtering1').slickFilter(':even');
        $(this).text('Unfilter Slides');
        filtered = true;
      } else {
        $('.filtering1').slickUnfilter();
        $(this).text('Filter Slides');
        filtered = false;
      }
    });

  });
</script>

<script type="text/javascript">

</script>
