
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= image_tag @item.picture.carousel%><br>

    <%= link_to "edit", edit_item_path(@item) %> |  
    <%= link_to "delete", item_path(@item), method: :delete, confirm: "Really delete this item?" %>

    <br>
    <%= @item.color%>
    <%= @item.clothing_type%>

    <br>
    <%= link_to "Items", items_path %> | 
    <%= link_to "Collections", collections_path%> 
  </div>
</div>