
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p><%= image_tag @item.picture.carousel%></p>

    <p>
      <%= link_to "edit", edit_item_path(@item) %> |  
      <%= link_to "delete", item_path(@item), method: :delete, confirm: "Really delete this item?" %>
    </p>

    <p>
      <%= @item.color%>
      <%= @item.clothing_type%>
    </p>

    <p>
      <%= link_to "Items", items_path %> | 
      <%= link_to "Collections", collections_path%>
    </p>

    <p>
      <%= @item.tags.map {|t| t.other }.join(", ") %>
    </p>
  </div>
</div>