
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p><%= image_tag @item.picture.carousel%></p>

    <p>
      <%= link_to "edit", edit_item_path(@item) %> |  
      <%= link_to "delete", item_path(@item), method: :delete, confirm: "Really delete this item?" %>
    </p>

    <p>
      <%= @item.color%>
      <%= @item.clothing_type%>
    </p>

    <p>
      <%= link_to "Items", items_path %> | 
      <%= link_to "Collections", collections_path%>
    </p>

    <p>
      <%= @item.tags.map {|t| t.name }.join("<br>").html_safe %>
    </p>
  </div>
</div>

    <ul class='kwicks kwicks-horizontal'>
      <li class='kwicks-selected'></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    

    <script src='//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js' type='text/javascript'></script>
    <script src='//cdn.jsdelivr.net/kwicks/1.5.1/jquery.kwicks-1.5.1.js' type='text/javascript'></script>
    
    <script type='text/javascript'>
      $(function() {
        $('.kwicks').kwicks({
          minSize : 20,
          spacing : 5,
          behavior: 'slideshow'
        });
      });
    </script>