
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="overlay">
      <div class="row">
        <div class="col-md-6">
          <p><%= image_tag @item.picture.carousel%></p>
        </div>
        <div class="col-md-6">
          <h1>
            <%= @item.color%>
            <%= @item.clothing_type%>
            <div class="pull-right">
              <% if @item.favorite == true%>
                <span class="glyphicon glyphicon-hand-right"></span>
                <span class="glyphicon glyphicon-star"></span>
              <%else%>
              <% end %>
            </div>
          </h1>
          <p>
            <%= link_to edit_item_path(@item) do%>
              <span class="glyphicon glyphicon-pencil"></span> 
              Edit
            <% end %> | 
            <%= link_to item_path(@item), method: :delete, confirm: "Really delete this item?" do%>
              <span class="glyphicon glyphicon-remove"></span> 
              Delete
            <% end %> 
          </p>
          <div>
            <hr>
            <h2 class="tag-header"> Tags <span class="glyphicon glyphicon-tags"></span> </h2>
            <div class="tags-box col-md-6">
              <%for tag in @item.tags do %> 
                <div class="tag">
                  <a href="#">  <!-- link stub for future search functionality -->
                    <span class="glyphicon glyphicon-tag"></span>
                    <%=tag.name%> 
                  </a>
                </div>
              <% end %>          
            </div>
          </div>       
        </div>
      </div>
    </div>
  </div>
</div>
