
<div class="row">
  <div class="col-sm-8 col-md-8 col-md-offset-5 col-md-offset-4 main">
    <p><%= image_tag @item.picture.carousel%></p>

    <p>
      <%= link_to "edit", edit_item_path(@item) %> |  
      <%= link_to "delete", item_path(@item), method: :delete, confirm: "Really delete this item?" %>
    </p>

    <p>
      <%= @item.color%>
      <%= @item.clothing_type%>
    </p>

    <p>
      <%= link_to "Items", items_path %> | 
      <%= link_to "Collections", collections_path%>
    </p>

    <p>
      <%= @item.tags.map {|t| t.name }.join("<br>").html_safe %>
    </p>
  </div>
</div>

