
<br><br><br><br><br><br>
<div> 
  <%=@current_user.name%>,<%=@current_user.last_name%><p>
  
  <%= link_to "Login", login_path %>  <br>
  <%= link_to "Logout", logout_path %><br>

  <%= link_to "Items", items_path %><br>

</div>