<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PMC - Stash your Threads Online</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body>
  <% if current_user %>
    <div class="navbar  navbar-fixed-top navbar-inverse" role="navigation">  
    <!-- Top Menu Bar: "fixed" stays on top, "static" moves with content -->
    <!-- "navbar-inverse" inverts navbar bgcolor from normal bgcolor -->
      <div class="container-fluid">  <!-- Bootstrap 2-column nav & body, not fixed width-->
      <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">     <!-- Controls Navigation Bar including Collapse-->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span> <!-- Provide the three white lines on the the collapsible button -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">P M C</a> <!-- Left Corner App Title -->
        </div>

<!-- <div class="navbar col-md-1">

</div> -->

        <div class="nav navbar-collapse collapse">    
        <!-- Collects and Controls Right Navigation for Collapsible Hamburger -->

<!-- <div class="row"> -->
  <div class="nav col-sm-4 pull-right">
    <div class="input-group">
      <div class="input-group-btn">

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search A Wardrobe <span class="caret"></span></button>

        <ul class="dropdown-menu">
          <li>
            <% if current_user.collections.length == 0 %>
            <center><strong><%=link_to "Add a Location", new_collection_path %></strong></center>
            <% end %>
          </li>
          <%  current_user.collections.each do |collection| %>
          <li>
            <%= link_to collection_path(collection) do %>
            <span class="badge pull-right"><%= collection.items.length %></span>
            <%= collection.location %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div><!-- /btn-group -->

<!-- Search Menu -->
      <div class="ui-widget">
        <form class="navform" action="items#search" method="get">
          <input id="tags" size="50" type="text" class="form-control" placeholder="Find my threads">
        </form> 
      </div>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
<!--   </div> -->

<!--           <form class="navbar-form navbar-right">  Deleted navbar-right
  <input class="form-control" placeholder="Search My Clothing..." aligntype="search" >
</form> -->


          <ul class="nav  nav-pills "> <!-- navbar-nav navbar-right-->
              <li class="dropdown">    

                  <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    My Wardrobes <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li>
                        <% if current_user.collections.length == 0 %>
                         <center><strong><%=link_to "Add a Location", new_collection_path %></strong></center>
                        <% end %>
                      </li>
                      <% current_user.collections.each do |collection| %>
                      <li>
                          <%= link_to collection_path(collection) do %>
                            <span class="badge pull-right"><%= collection.items.length %></span>
                            <%= collection.location %>
                          <% end %>
                      </li>
                      <% end %>
                      <li role="presentation" class="divider"></li>
                      <li><a href="#">
                          <span class="badge pull-right">0</span>
                          Travel Bag</a></li>
                  </ul>

              <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            Navigation <span class="caret"></span>
                          </a>
                  <ul class="dropdown-menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="help.html">FAQs</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="help.html">Site Map</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="help.html">Report a Problem</a></li>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="help.html">Logout</a></li>
                  </ul>
          </ul>

        </div>
   
      </div>
    </div>
    <% end %>
    <main class="main container">
      <%= yield %>
    </main>

    
  <!-- <script type="text/javascipt" source = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
  <script>
$('#form').keydown(function(e){
    if (e.keyCode === 13) { // If Enter key pressed
        $(this).trigger('submit');
    }
});
  </script>
</body>
</html>